@import url(//db.onlinewebfonts.com/c/9b6ea01638fd252fe935acad72ebb914?family=SignPainter-HouseScript);

// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: "SignPainter-HouseScript";
  src: url('../fonts/signpainter_housescript_regular-webfont.woff2') format("woff2"),
  url('../fonts/signpainter_housescript_regular-webfont.woff') format('woff'),
  url('../fonts/signpainter_housescript_regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

//@font-face {
//  font-family: "SignPainter-HouseScript";
//  src: url("//db.onlinewebfonts.com/t/9b6ea01638fd252fe935acad72ebb914.eot");
//  src: url("//db.onlinewebfonts.com/t/9b6ea01638fd252fe935acad72ebb914.eot?#iefix") format("embedded-opentype"),
//  url("//db.onlinewebfonts.com/t/9b6ea01638fd252fe935acad72ebb914.woff2") format("woff2"),
//  url("//db.onlinewebfonts.com/t/9b6ea01638fd252fe935acad72ebb914.woff") format("woff"),
//  url("//db.onlinewebfonts.com/t/9b6ea01638fd252fe935acad72ebb914.ttf") format("truetype"),
//  url("//db.onlinewebfonts.com/t/9b6ea01638fd252fe935acad72ebb914.svg#SignPainter-HouseScript") format("svg");
//}


:root {
  --fancyText: "SignPainter-Housescript", sans-serif;
}

html, body {
  width: 100%;
  min-height: 100%; // min-height formats home properly, height formats fullscreen pages properly
  margin: 0 0;
  padding: 0 0;
  scroll-behavior: smooth;
  scroll-padding-top: 50px;

}

@include media-breakpoint-only(md) {
  html, body {
    font-size: 3vw;
  }
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select:focus,
  textarea {
    font-size: 5vw;
  }
}

.body-container {
  overflow: hidden;
}

.headerImages {
  height: 75vh;
}

.imageDisplay {
  padding: 0;
  height: 50%;
}

.imageGallary {
  padding: 1vh;
  position: relative;
}

.imageGallary:hover .gallaryImage {
  opacity: 0.3;
}

.imageGallary:hover .middle {
  opacity: 1;
}

.imageOverlay {
  background-color: #4caf50;
  color: white;
  padding: 2vw;
}

.gallaryImage {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.carousel-caption-inside {
  bottom: 50%;
}

.carousel-caption-outside {
  bottom: 50%;
  top: 50%;
}

.carousel-caption-mobile {
  bottom: 50%;
  top: 30%;
}

.footer {
  border-top: 1px solid black;
  background: white;
}

nav .navbar-brand {
  font-size: 2em;
}
.nav-link {
  position: relative;
}
.nav-link::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: black;

  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
}
.nav-link:hover::before,
.nav-link:focus::before {
  transform: scaleX(1);
}

#contact {
  padding: 4vh;
}

.plateSearch {
  background: black;
  color: white;
}

.styledText {
  font-family: var(--fancyText);
  -webkit-text-stroke: 1px black;
  margin: 0;
}

.mainText {
  font-size: 150px;
  line-height: 0.75em;
  text-shadow: 0 30px 3px rgba(0,0,0,0.16);
}

.botMargin {
  margin-bottom: -95px;
}

.offset {
  //padding-left: 120px;
}

.negOffset {
  padding-right: 150px;
}

a {
  color: inherit;
  transition: 1s fade;
}

a:hover,
a:focus {
  color: #bfbfbf;
}

.image-row {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1%;
}

.image-col {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.image-col-3 {
  flex: 33.33%;
  max-width: 33.33%;
  padding: 0 4px;
}

.image-col img,
.image-col-3 img{
  margin-top: 8px;
  vertical-align: middle;
  width: 100%
}

.admin-page {
  background-color: #333333;
}

.admin-panel {
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.44);
  box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.55);

  background-color: white;
  border: 2px solid black;
  border-radius: 2%;
  margin: 1%
}

.contact-section {
  border-radius: 3px;
  border-left: 7px solid black;
  padding-left: 2%;
}

.desktop-header {
  display: flex;
  flex: 1;
}

.header-image {
  position: relative;
}

.middle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom-text {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shootCaption {
  background-color: transparent;
  color: white;
  display: inline-block;
  padding: 1% 2%;
  transition: all 0.5s ease;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 5%;
}
.shootCaption:hover {
  color: black;
  background-color: white;
  -webkit-box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.7);
  box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.7);
}

.banner-row {
  height: 40%;
  overflow: hidden;
}
.banner-image {
  position: relative;
  top: 40%;
  margin-bottom: -40%;
  transform: translateY(-40%);
  transition: all 1s ease;
}
.banner-text {
  font-size: 3em;
  text-shadow: 0px 0px 6px rgba(0,0,0,0.8);
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  opacity: 0;
  transition: all 0.5s ease;
}
.banner-row:hover > .overlay {
  opacity: 0.5;
}

.mobile-image-padding {
  padding: 1% 0;
}
