<footer class="footer">
        <nav class="navbar d-flex justify-content-around align-items-center">
            <div class="d-flex">
                <a href="https://www.instagram.com/mezzshots/" class="p-2">
                   <h3 class="m-0"><i class="fab fa-instagram"></i></h3>
                </a>
                <a href="https://www.linkedin.com/in/jaredmezzatesta/" class="p-2">
                    <h3 class="m-0"><i class="fab fa-linkedin-in"></i></h3>
                </a>
                <a href="https://github.com/JaredMezz2" class="p-2">
                    <h3 class="m-0"><i class="fab fa-github"></i></h3>
                </a>

            </div>
            <div class="d-flex">
                <!-- Mobile Devices -->
                <div class="d-lg-none">
                    <h4 class="m-0">
                        <a class="nav-link text-black" href="mailto:jared@mezzshots.me"><h3 class="m-0 d-flex align-items-center"><i class="fa fa-envelope"></i></h3></a>
                    </h4>
                </div>
                <div class="d-none d-lg-flex">
                    <h3 class="m-0 d-flex align-items-center"><i class="fa fa-envelope"></i></h3>
                    <h4 class="m-0">
                        <a class="nav-link text-black" href="mailto:jared@mezzshots.me">Jared@Mezzshots.me</a>
                    </h4>
                </div>

            </div>
        </nav>
</footer>
</body>
</html>
