<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jared Photography</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <!--include path to jquery and boostraps js-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script defer src="/js/brands.js"></script>
    <script defer src="/js/solid.js"></script>
    <script defer src="/js/fontawesome.js"></script>

    <!-- Font for styled text -->
    <link href="//db.onlinewebfonts.com/c/9b6ea01638fd252fe935acad72ebb914?family=SignPainter-HouseScript" rel="stylesheet" type="text/css"/>
</head>
<!-- Google tag (gtag.js) for Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-B6WRMVXLV5"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-B6WRMVXLV5');
</script>
<body>
