<nav class="navbar navbar-light bg-white border-bottom border-dark sticky-top justify-content-between">
    <a href="/shoots" class="nav-item nav-link">Shoots</a>
    <a class="navbar-brand styledText" href="/">MEZZ SHOTS</a>
    <a href="/#contact" class="nav-item nav-link">Contact</a>
</nav>