<nav class="navbar navbar-light bg-white border-bottom border-dark sticky-top justify-content-between">
    <div class="container-fluid">
        <a href="/shoots" class="nav-link link-dark"><h4 class="m-0">Shoots</h4></a>
        <a class="navbar-brand styledText" href="/"><h1 class="m-0 pt-2">MEZZ SHOTS</h1></a>
        <a href="/#contact" class="nav-link link-dark"><h4 class="m-0">Contact</h4></a>
    </div>

</nav>
