<nav class="navbar navbar-light bg-light sticky-top justify-content-between">
    <a href="/gallery" class="nav-item nav-link">Gallary</a>
    <a class="navbar-brand">Navbar</a>
    <a href="/" class="nav-item nav-link">Contact</a>
</nav>