<form action="/shoots/new" method="POST" name="submit" class="h-100 d-flex flex-column justify-content-around p-3 needs-validation" enctype="multipart/form-data" novalidate>
    <h1 class="text-center">New Shoot</h1>
    <div class="section">
        <div class="form-row">
            <div class="input-group input-group-lg">
                <span class="input-group-text font-weight-bold" id="plate">Plate: </span>
                <input type="text" class="form-control" name="plate" id="plate" placeholder="Plate" required>
            </div>
        </div>
        <div class="form-row">
            <div class="input-group input-group-lg">
                <span class="input-group-text font-weight-bold" id="name">Name: </span>
                <input type="text" class="form-control" name="name" id="name" placeholder="Name">
            </div>
        </div>
        <div class="form-row">
            <div class="input-group input-group-lg">
                <span class="input-group-text font-weight-bold" id="contactInfo">Contact: </span>
                <input type="text" class="form-control" name="contactInfo" id="contactInfo" placeholder="Contact">
            </div>
        </div>
        <div class="form-row">
            <div class="input-group input-group-lg">
                <span class="input-group-text font-weight-bold" id="date">Date: </span>
                <input type="date" class="form-control" name="date" id="date" placeholder="Date" required>
            </div>
        </div>
        <div class="form-row">
            <div class="input-group mb-3">
                <label class="input-group-text font-weight-bold" for="photos">Photos: </label>
                <input type="file" class="form-control" id="photos" name="photos" multiple required>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-outline-dark btn-lg">Submit</button>
</form>

