<nav class="navbar navbar-dark bg-dark justify-content-center">
    <form class="form-inline" action="/shoots" name="submit" method="POST" class="needs-validation" novalidate>
        <label for="enteredPlate">Plate: </label>
        <input class="form-control mr-sm-2" type="search" id="enteredPlate" name="enteredPlate" placeholder="Plate">
        <button class="btn btn-outline-success my-2 my-sm-2" type="submit">Submit</button>
    </form>
</nav>