<nav class="navbar navbar-dark justify-content-center align-items-center plateSearch">
    <form class="form-inline" action="/shoots" name="submit" method="POST" class="needs-validation" novalidate>
        <div class="input-group m-1">
            <input type="text" class="form-control p-1 ps-2" placeholder="Enter Plate" aria-label="Recipient's username" name="enteredPlate" id="enteredPlate">
            <button class="btn btn-outline-light" type="submit" id="enteredPlate">Search</button>
        </div>
    </form>
</nav>
