<%- include('../partials/head')%>
<div class="container">
    <h1>Custom page for their uploaded photos</h1>
    <h2> ID : <%= userKey %> </h2>
    <h3>to be uploaded...</h3>
</div>
<%- include('../partials/head')%>