<%- include('../partials/head')%>
<%- include('../partials/navbar')%>
<%- include('../partials/plateSearch')%>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="text-center">All Shoots Page</h1>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <div class="col imageGallary">
                    <img src="https://res.cloudinary.com/drwy1imlr/image/upload/f_auto/v1623205735/DSC_0009_zuerd1.png" class="img-fluid" alt="">
                </div>
                <div class="col imageGallary">
                    <img src="https://res.cloudinary.com/drwy1imlr/image/upload/f_auto/v1623205735/DSC_0009_zuerd1.png" class="img-fluid" alt="">
                </div>
                <div class="col imageGallary">
                    <img src="https://res.cloudinary.com/drwy1imlr/image/upload/f_auto/v1623205735/DSC_0009_zuerd1.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col imageGallary">
                    <img src="https://res.cloudinary.com/drwy1imlr/image/upload/f_auto/v1623205735/DSC_0132_uriqwf.png" class='img-fluid' alt="">
                </div>
                <div class="col imageGallary">
                    <img src="https://res.cloudinary.com/drwy1imlr/image/upload/f_auto/v1623205735/DSC_0132_uriqwf.png" class='img-fluid' alt="">
                </div>
                <div class="col imageGallary">
                    <img src="https://res.cloudinary.com/drwy1imlr/image/upload/f_auto/v1623205735/DSC_0132_uriqwf.png" class='img-fluid' alt="">
                </div>
            </div>
            <div class="row">
                <div class="col imageGallary">
                    <img src="https://res.cloudinary.com/drwy1imlr/image/upload/f_auto/v1623205734/frontSideShot_r9bvlm.png" class='img-fluid' alt="">
                </div>
                <div class="col imageGallary">
                    <img src="https://res.cloudinary.com/drwy1imlr/image/upload/f_auto/v1623205734/frontSideShot_r9bvlm.png" class='img-fluid' alt="">
                </div>
                <div class="col imageGallary">
                    <img src="https://res.cloudinary.com/drwy1imlr/image/upload/f_auto/v1623205734/frontSideShot_r9bvlm.png" class='img-fluid' alt="">

                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/foot')%>